version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: konsign
      POSTGRES_PASSWORD: konsign
      POSTGRES_DB: konsign
      TZ: Asia/Calcutta
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: bitnami/redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=konsign
    volumes:
      - redis_data:/bitnami/redis/data

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: konsign
      MYSQL_DATABASE: konsign
      MYSQL_USER: konsign
      MYSQL_PASSWORD: konsign
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  postgres_data:
  redis_data:
  mysql_data:
